.ant-table.ant-table-small {
    font-size: 12px !important;
}

.ant-list-item-meta {
    padding: 0px 14px;
    border-bottom: none;
}

#Offer .ant-card-body {
    padding: 0px !important;
}

@media (max-width: 500px){
.ant-list-item {
    padding: 10px 6px;
}
}