.ant-picker{width: 100%; min-width: auto;}
.ant-form-inline .ant-form-item{margin-right:0;}

input.ant-input.sc-dVhcbM.eiBIkw {
    width: 100%;
    max-width: 100%;
}

.sc-ksYbfQ.gFHZTl.certain-category-search-wrapper{
    padding:0px;
}